<launch>

  <group>
    <node name="people_tracker" pkg="people_tracker" type="people_tracker">
      <param name="load_filepath" value="$(find people_tracker)/params/SamplesConfig.xml" />
	<remap from="closestPerson" to="setFocus"/>

    </node>
   <node name="FredEyes" pkg="FredEyes" type="EyesRosSubscriber.py">
     <param name="tablet_ip" value="129.31.202.174" />
   </node>
   <node name="freduino" pkg="freduino" type="lid_angle_sub">
   </node>
  </group>

</launch>
